<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpe.cin.if710.contentprovider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ListContentProvider"
            android:authorities="br.ufpe.cin.if710.listprovider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".SQLiteContentProvider"
            android:authorities="br.ufpe.cin.if710.sqlprovider"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>